
.navbar .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
  }

@media (max-width: 700px){
    #navbarItem {
        &.has-dropdown {
            .navbar-dropdown {
                display: none;
            }
        }
        &.hover {
            .navbar-dropdown {
                display: block !important;
            }
        }
    }
}

