    /* html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#fff;
        margin: 0;
        padding: 0;
    } */
    /* .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    } */
    .swiperSlide {
      /* width: 100%; */
    }

    .locSwiperSlide {
      /* width: 100%; */
    }
 
    .swiperSlide:hover h1  {
      visibility: hidden;
    }



    .swiperOverlay {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      opacity: 0.0;
    }

    .swiperOverlay:hover  {
      opacity: 1.0;
      background-color: rgba(0, 0, 0, 0.75);
    }

    /* .swiper-pagination-bullet-active{
  background-color:#fff;
}

.color-1{
  background-color:#009688;
}
.color-2{
  background-color:#4CAF50;
}
.color-3{
  background-color:#FFEB3B;
}
.color-4{
  background-color:#FF5722;
}
.color-5{
  background-color:#607D8B;
} */