  .eventIframe {
    animation-name: fadein;
    animation-duration: 2s;
  }

  #title {
    /* animation-name: slidein; */
    /* animation-duration: 500ms; */
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  /* Define the keyframes for the animation */
  @keyframes slidein {

    /* Start from the left edge of the screen */
    from {
      transform: translateX(100%);
    }

    /* End at the original position */
    to {
      transform: translateX(0%);
    }
  }